Repository artpromedia/aivo, changes with the owners that CODEOWNERS names for each.
All owners: @maintainer, @tech-writer, @security-team, @admin, @devops

CODEOWNERS:

# This file defines the code owners for this repository
# When a pull request is opened, the users listed here will be automatically
# requested for review

# Global owners - catch-all for files not covered below
* @maintainer

# Documentation
/docs/ @tech-writer @maintainer

# Security-related files
SECURITY.md @security-team
CODEOWNERS @admin

# CI/CD and infrastructure
/.github/ @devops
.git* @admin

# Note: Add specific team handles as needed
# Example:
# /packages/frontend/ @frontend-team
# /packages/backend/ @backend-team

chore(devcontainer): pin node20.19.4+pnpm9+py3.11 with linters
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Owners: @maintainer

chore(pnpm): add workspace with strict engines and QA scripts
  .npmrc
  .nvmrc
  package.json
  pnpm-workspace.yaml
Owners: @maintainer

chore(pnpm): engines strict + repo QA scripts
  .czrc
  .husky/commit-msg
  .husky/pre-commit
  commitlint.config.cjs
  lint-staged.config.js
  package.json
  pnpm-workspace.yaml
Owners: @maintainer

feat(eslint): add ESLint v9 flat config + TypeScript 5.5 + Prettier
  .eslint.config.js
  .eslintignore
  .prettierignore
  .prettierrc.json
  lint-staged.config.js
  package.json
  tsconfig.base.json
Owners: @maintainer

feat: add eslint9 ci check + python qa backbone + api contracts scaffolding
  docs/api/README.md
  docs/api/graphql/schema.graphql
  docs/api/rest/.spectral.yaml
  docs/api/rest/_examples/ping.yaml
  poetry.toml
  pyproject.toml
  scripts/ensure-eslint9.mjs
Owners: @tech-writer, @maintainer

chore(compose): infra compose + yaml/docker linters
  .hadolint.yaml
  .yamllint.yaml
  infra/compose/local.yml
  package.json
Owners: @maintainer

chore(gateway): kong declarative skeleton
  apps/gateway/README.md
  apps/gateway/kong.yml
Owners: @maintainer

ci(core): lint+contracts+compose+eslint9 gate
  .github/workflows/ci.yml
Owners: @admin

chore: allow tracking github workflows in version control
  .gitignore
Owners: @admin

ci(guard): fail on deprecated npm packages (direct/transitive)
  .github/workflows/dep-guard.yml
  scripts/check-npm-deprecations.mjs
Owners: @admin, @maintainer

ci(core): add deprecated packages check to main CI
  .github/workflows/ci.yml
Owners: @admin

ci(sec): trivy FS scan + pip-audit
  .github/workflows/security.yml
  services/hello-svc/app/main.py
  services/hello-svc/pyproject.toml
  services/hello-svc/requirements.txt
Owners: @admin, @maintainer

ci(core): add trivy security scan to main CI pipeline
  .github/workflows/ci.yml
Owners: @admin

feat(hello-svc): add basic tests for health and ping endpoints
  services/hello-svc/tests/test_ping.py
Owners: @maintainer

chore(vscode): yaml schemas + editor config + extensions
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
Owners: @admin, @maintainer

fix(hello-svc): resolve python import warnings and setup proper environment
  .vscode/settings.json
  pyproject.toml
  services/hello-svc/app/__init__.py
  services/hello-svc/pyproject.toml
  services/hello-svc/requirements.txt
  services/hello-svc/tests/__init__.py
Owners: @maintainer

feat(build): makefile + stage0 verifier script + powershell build system
  Makefile
  build.ps1
  scripts/verify-stage0.ps1
  scripts/verify-stage0.sh
Owners: @maintainer

feat(verify): working stage0 verification script
  scripts/verify-stage0-simple.ps1
Owners: @maintainer

feat(deps): renovate config with eslint9 lock + deprecated package prevention
  .github/workflows/renovate-validation.yml
  docs/RENOVATE.md
  package.json
  renovate.json
  scripts/validate-renovate-update.mjs
Owners: @admin, @tech-writer, @maintainer

chore(dependabot): enforce eslint9 and safe updates
  .github/dependabot.yml
  .github/workflows/dependabot-validation.yml
Owners: @admin

feat(security): add code scanning and dependency audit
  .eslintignore
  .husky/pre-commit
  eslint.config.js
  lint-staged.config.js
  package.json
Owners: @maintainer

fix(husky): remove deprecated configuration syntax
  .husky/commit-msg
Owners: @maintainer

feat: Complete auth service implementation and fix security issues
  .github/workflows/security.yml
  scripts/generate-sdks.mjs
  services/auth-svc/.env.example
  services/auth-svc/Dockerfile
  services/auth-svc/README.md
  services/auth-svc/alembic.ini
  services/auth-svc/app/__init__.py
  services/auth-svc/app/database.py
  services/auth-svc/app/main.py
  services/auth-svc/app/models.py
  services/auth-svc/app/routes.py
  services/auth-svc/app/schemas.py
  services/auth-svc/app/security.py
  services/auth-svc/migrations/env.py
  services/auth-svc/migrations/script.py.mako
  services/auth-svc/pyproject.toml
  services/auth-svc/pytest.ini
  services/auth-svc/requirements.txt
  services/auth-svc/tests/__init__.py
  services/auth-svc/tests/conftest.py
  services/auth-svc/tests/test_auth.py
  services/auth-svc/tests/test_integration.py
Owners: @admin, @maintainer

feat: Complete S1-02 auth service implementation
  .devcontainer/devcontainer.json
  .github/dependabot.yml
  .github/workflows/codeql.yml
  .github/workflows/dependabot-validation.yml
  .github/workflows/renovate-validation.yml
  .hadolint.yaml
  .prettierignore
  .spectral.yaml
  apps/gateway/kong.yml
  eslint.config.js
  infra/compose/local.yml
  libs/sdk-web/src/index.ts
  libs/sdk-web/src/msw/handlers.ts
  libs/sdk-web/tsconfig.json
  lint-staged.config.js
  package.json
  services/auth-svc/app/notifications.py
  services/auth-svc/app/routes.py
  services/auth-svc/app/security.py
  services/auth-svc/tests/test_auth_flows.py
Owners: @maintainer, @admin

fix: resolve 13 errors - YAML workflows, TypeScript configs, and ESLint v9 upgrade
  .github/workflows/codeql.yml
  .github/workflows/security.yml
  eslint.config.js
  libs/sdk-web/package.json
  libs/sdk-web/src/index.ts
  libs/sdk-web/src/msw/handlers.ts
  libs/sdk-web/src/msw/setup.ts
  libs/sdk-web/src/services/admin-portal/tsconfig.json
  libs/sdk-web/src/services/auth/tsconfig.json
  libs/sdk-web/src/services/enrollment/tsconfig.json
  libs/sdk-web/src/services/learner/tsconfig.json
  libs/sdk-web/src/services/orchestrator/tsconfig.json
  libs/sdk-web/src/services/payments/tsconfig.json
  libs/sdk-web/src/services/tenant/tsconfig.json
  lint-staged.config.js
  package.json
  pnpm-lock.yaml
Owners: @admin, @maintainer

feat(tenant-svc): tenants, schools, seat lifecycle + rbac
  services/tenant-svc/.env.example
  services/tenant-svc/Dockerfile
  services/tenant-svc/README.md
  services/tenant-svc/app/__init__.py
  services/tenant-svc/app/database.py
  services/tenant-svc/app/main.py
  services/tenant-svc/app/models.py
  services/tenant-svc/app/routes.py
  services/tenant-svc/app/schemas.py
  services/tenant-svc/app/services.py
  services/tenant-svc/pyproject.toml
  services/tenant-svc/pytest.ini
  services/tenant-svc/requirements.txt
  services/tenant-svc/tests/__init__.py
  services/tenant-svc/tests/test_tenant_seats.py
Owners: @maintainer

feat: Complete S1-04 Payment Service implementation
  services/payment-svc/README.md
  services/payment-svc/app/database.py
  services/payment-svc/app/main.py
  services/payment-svc/app/models.py
  services/payment-svc/app/schemas.py
  services/payment-svc/app/services.py
  services/payment-svc/pyproject.toml
  services/payment-svc/requirements.txt
  services/payment-svc/tests/conftest.py
  services/payment-svc/tests/test_api.py
  services/payment-svc/tests/test_pricing.py
  services/payment-svc/tests/test_subscriptions.py
  services/payment-svc/tests/test_webhooks.py
Owners: @maintainer

fix: resolve markdown linting, yaml syntax, and type annotation issues
  .github/workflows/codeql.yml
  .github/workflows/security.yml
  services/enrollment-router-svc/README.md
  services/enrollment-router-svc/app/__init__.py
  services/enrollment-router-svc/app/database.py
  services/enrollment-router-svc/app/main.py
  services/enrollment-router-svc/app/models.py
  services/enrollment-router-svc/app/schemas.py
  services/enrollment-router-svc/app/services.py
  services/enrollment-router-svc/pyproject.toml
  services/enrollment-router-svc/requirements.txt
  services/enrollment-router-svc/tests/__init__.py
  services/enrollment-router-svc/tests/conftest.py
  services/enrollment-router-svc/tests/test_api.py
  services/enrollment-router-svc/tests/test_audit.py
  services/enrollment-router-svc/tests/test_district_path.py
  services/enrollment-router-svc/tests/test_parent_path.py
  services/payment-svc/README.md
Owners: @admin, @maintainer

feat(learner-svc): guardian-first learners + provision_source + events
  services/learner-svc/.env.example
  services/learner-svc/app/__init__.py
  services/learner-svc/app/database.py
  services/learner-svc/app/main.py
  services/learner-svc/app/models.py
  services/learner-svc/app/schemas.py
  services/learner-svc/app/services.py
  services/learner-svc/pyproject.toml
  services/learner-svc/requirements.txt
  services/learner-svc/tests/__init__.py
  services/learner-svc/tests/conftest.py
  services/learner-svc/tests/test_api.py
  services/learner-svc/tests/test_grade_calculation.py
  services/learner-svc/tests/test_learner_creation.py
  services/learner-svc/tests/test_teacher_multiattach.py
Owners: @maintainer

feat(private-fm): learner namespace clone + status api
  services/private-fm-orchestrator/.env.example
  services/private-fm-orchestrator/app/__init__.py
  services/private-fm-orchestrator/app/database.py
  services/private-fm-orchestrator/app/main.py
  services/private-fm-orchestrator/app/models.py
  services/private-fm-orchestrator/app/schemas.py
  services/private-fm-orchestrator/app/services.py
  services/private-fm-orchestrator/pyproject.toml
  services/private-fm-orchestrator/requirements.txt
  services/private-fm-orchestrator/tests/__init__.py
  services/private-fm-orchestrator/tests/conftest.py
  services/private-fm-orchestrator/tests/test_api.py
  services/private-fm-orchestrator/tests/test_namespace.py
  services/private-fm-orchestrator/tests/test_request.py
  services/private-fm-orchestrator/tests/test_status.py
Owners: @maintainer

feat(inference-gateway): generate/embed/moderate with pii + policy
  services/inference-gateway-svc/.env.example
  services/inference-gateway-svc/app/__init__.py
  services/inference-gateway-svc/app/config.py
  services/inference-gateway-svc/app/enums.py
  services/inference-gateway-svc/app/main.py
  services/inference-gateway-svc/app/moderation_service.py
  services/inference-gateway-svc/app/openai_service.py
  services/inference-gateway-svc/app/pii_service.py
  services/inference-gateway-svc/app/schemas.py
  services/inference-gateway-svc/pyproject.toml
  services/inference-gateway-svc/requirements.txt
  services/inference-gateway-svc/tests/__init__.py
  services/inference-gateway-svc/tests/conftest.py
  services/inference-gateway-svc/tests/test_api.py
  services/inference-gateway-svc/tests/test_moderation_service.py
  services/inference-gateway-svc/tests/test_moderation_service_fixed.py
  services/inference-gateway-svc/tests/test_openai_service.py
  services/inference-gateway-svc/tests/test_pii_service.py
Owners: @maintainer

feat(assessment-svc): baseline start/answer/report + event
  services/assessment-svc/.env.example
  services/assessment-svc/README.md
  services/assessment-svc/app/__init__.py
  services/assessment-svc/app/assessment_engine.py
  services/assessment-svc/app/config.py
  services/assessment-svc/app/enums.py
  services/assessment-svc/app/event_service.py
  services/assessment-svc/app/main.py
  services/assessment-svc/app/schemas.py
  services/assessment-svc/pyproject.toml
  services/assessment-svc/requirements.txt
  services/assessment-svc/run.py
  services/assessment-svc/tests/__init__.py
  services/assessment-svc/tests/test_assessment.py
Owners: @maintainer

feat(iep-svc): graphql CRDT doc + dual-approval hook
  services/iep-svc/.env.example
  services/iep-svc/README.md
  services/iep-svc/app/__init__.py
  services/iep-svc/app/approval_service.py
  services/iep-svc/app/config.py
  services/iep-svc/app/crdt_manager.py
  services/iep-svc/app/enums.py
  services/iep-svc/app/event_service.py
  services/iep-svc/app/main.py
  services/iep-svc/app/resolvers.py
  services/iep-svc/app/schema.py
  services/iep-svc/pyproject.toml
  services/iep-svc/requirements.txt
  services/iep-svc/run.py
  services/iep-svc/tests/__init__.py
  services/iep-svc/tests/test_core_logic.py
  services/iep-svc/tests/test_iep_service.py
Owners: @maintainer

feat(approval-svc): dual approvals + ttl + webhook
  services/approval-svc/README.md
  services/approval-svc/app/__init__.py
  services/approval-svc/app/api.py
  services/approval-svc/app/approval_service.py
  services/approval-svc/app/config.py
  services/approval-svc/app/database.py
  services/approval-svc/app/enums.py
  services/approval-svc/app/main.py
  services/approval-svc/app/models.py
  services/approval-svc/app/notification_service.py
  services/approval-svc/app/schemas.py
  services/approval-svc/app/tasks.py
  services/approval-svc/app/webhook_service.py
  services/approval-svc/pyproject.toml
  services/approval-svc/requirements.txt
  services/approval-svc/run.py
  services/approval-svc/tests/__init__.py
  services/approval-svc/tests/conftest.py
  services/approval-svc/tests/test_approval_service.py
Owners: @maintainer

fix(approval-svc): resolve test timeouts and deprecation warnings
  services/approval-svc/app/config.py
  services/approval-svc/app/models.py
  services/approval-svc/app/schemas.py
  services/approval-svc/app/webhook_service.py
  services/approval-svc/tests/conftest.py
Owners: @maintainer

feat(notification-svc): templates + dev mailer
  services/notification-svc/app/__init__.py
  services/notification-svc/app/config.py
  services/notification-svc/app/email_service.py
  services/notification-svc/app/main.py
  services/notification-svc/app/schemas.py
  services/notification-svc/app/template_service.py
  services/notification-svc/poetry.lock
  services/notification-svc/pyproject.toml
  services/notification-svc/pytest.ini
  services/notification-svc/requirements.txt
  services/notification-svc/run.py
  services/notification-svc/templates/approval_request.json
  services/notification-svc/templates/approval_request.mjml
  services/notification-svc/templates/enrollment_decision.json
  services/notification-svc/templates/enrollment_decision.mjml
  services/notification-svc/templates/teacher_invite.json
  services/notification-svc/templates/teacher_invite.mjml
  services/notification-svc/tests/__init__.py
  services/notification-svc/tests/conftest.py
  services/notification-svc/tests/test_notifications.py
Owners: @maintainer

feat(admin-portal-svc): dashboard aggregator service with caching and circuit breakers
  services/admin-portal-svc/app/__init__.py
  services/admin-portal-svc/app/cache_service.py
  services/admin-portal-svc/app/config.py
  services/admin-portal-svc/app/http_client.py
  services/admin-portal-svc/app/main.py
  services/admin-portal-svc/app/schemas.py
  services/admin-portal-svc/app/service_aggregator.py
  services/admin-portal-svc/poetry.lock
  services/admin-portal-svc/pyproject.toml
  services/admin-portal-svc/requirements.txt
  services/admin-portal-svc/run.py
  services/admin-portal-svc/tests/conftest.py
  services/admin-portal-svc/tests/test_admin_portal.py
  services/admin-portal-svc/tests/test_cache.py
  services/admin-portal-svc/tests/test_integration.py
Owners: @maintainer

feat(kong-gateway): S1-14 Kong Gateway with JWT auth, RBAC, rate limiting
  apps/gateway/README.md
  apps/gateway/docker-compose.yml
  apps/gateway/kong.yml
Owners: @maintainer

fix(ci): format GitHub CodeQL workflow YAML
  .github/workflows/codeql.yml
Owners: @admin

fix(eslint): disable no-undef rule for TypeScript files in monorepo
  .markdownlint.json
  apps/admin/.gitignore
  apps/admin/README.md
  apps/admin/e2e/admin-dashboard.spec.ts
  apps/admin/eslint.config.js
  apps/admin/index.html
  apps/admin/package.json
  apps/admin/playwright.config.ts
  apps/admin/postcss.config.js
  apps/admin/public/vite.svg
  apps/admin/scripts/cta-guard.mjs
  apps/admin/src/App.css
  apps/admin/src/App.tsx
  apps/admin/src/assets/react.svg
  apps/admin/src/components/layout/Layout.tsx
  apps/admin/src/components/layout/Sidebar.tsx
  apps/admin/src/components/ui/button.tsx
  apps/admin/src/components/ui/card.tsx
  apps/admin/src/hooks/useApi.ts
  apps/admin/src/index.css
  apps/admin/src/main.tsx
  apps/admin/src/pages/Dashboard.tsx
  apps/admin/src/pages/UsersPage.tsx
  apps/admin/src/services/api.ts
  apps/admin/src/vite-env.d.ts
  apps/admin/tailwind.config.js
  apps/admin/tsconfig.app.json
  apps/admin/tsconfig.json
  apps/admin/tsconfig.node.json
  apps/admin/vite.config.ts
  eslint.config.js
  lint-staged.config.js
  pnpm-lock.yaml
  services/inference-gateway-svc/test_enum.py
Owners: @maintainer, @admin
