Repository artpromedia/aivo, changes with the owners that CODEOWNERS names for each.
All owners: @maintainer, @tech-writer, @security-team, @admin, @devops

fix: resolve import errors and update dependencies across services
  services/math-recognizer-svc/pyproject.toml
  services/science-solver-svc/pyproject.toml
  services/slp-sel-svc/app/services.py
  services/slp-sel-svc/poetry.lock
  services/slp-sel-svc/pyproject.toml
Owners: @maintainer

feat(slp-sel): complete speech drills + journaling implementation
  docs/api/rest/slp-sel.yaml
  services/slp-sel-svc/app/database.py
  services/slp-sel-svc/app/main.py
  services/slp-sel-svc/app/services.py
  services/slp-sel-svc/test_implementation.py
Owners: @tech-writer, @maintainer

fix(slp-sel): resolve linting issues in database.py
  services/slp-sel-svc/app/database.py
Owners: @maintainer

fix: resolve all linting issues in SLP/SEL service
  services/slp-sel-svc/app/services.py
  services/slp-sel-svc/test_implementation.py
Owners: @maintainer

feat(problem-session): subject-aware interactive sessions
  docs/api/rest/problem-session.yaml
  services/problem-session-svc/README.md
  services/problem-session-svc/app/__init__.py
  services/problem-session-svc/app/config.py
  services/problem-session-svc/app/database.py
  services/problem-session-svc/app/main.py
  services/problem-session-svc/app/models.py
  services/problem-session-svc/app/schemas.py
  services/problem-session-svc/app/services.py
  services/problem-session-svc/pyproject.toml
  services/problem-session-svc/tests/__init__.py
  services/problem-session-svc/tests/test_main.py
  services/problem-session-svc/tests/test_services.py
Owners: @tech-writer, @maintainer

fix(problem-session): clean up models.py linting issues
  services/problem-session-svc/app/models.py
Owners: @maintainer

fix(problem-session): clean up test_main.py linting issues
  services/problem-session-svc/tests/test_main.py
Owners: @maintainer

fix: resolve linting issues in problem-session-svc
  services/problem-session-svc/app/services.py
  services/problem-session-svc/tests/test_services.py
Owners: @maintainer

feat(device-enroll): aivo pad enrollment + attestation
  docs/api/rest/device-enroll.yaml
  services/device-enroll-svc/.env.example
  services/device-enroll-svc/Dockerfile
  services/device-enroll-svc/README.md
  services/device-enroll-svc/app/__init__.py
  services/device-enroll-svc/app/database.py
  services/device-enroll-svc/app/main.py
  services/device-enroll-svc/app/models.py
  services/device-enroll-svc/app/routes.py
  services/device-enroll-svc/app/schemas.py
  services/device-enroll-svc/app/services.py
  services/device-enroll-svc/pyproject.toml
  services/device-enroll-svc/pytest.ini
  services/device-enroll-svc/requirements.txt
  services/device-enroll-svc/tests/__init__.py
  services/device-enroll-svc/tests/test_services.py
Owners: @tech-writer, @maintainer

fix(device-enroll): resolve linting errors in models.py
  services/device-enroll-svc/app/models.py
Owners: @maintainer

fix(device-enroll): resolve linting errors in routes.py and main.py
  services/device-enroll-svc/app/main.py
  services/device-enroll-svc/app/routes.py
Owners: @maintainer

fix(device-enroll): resolve linting errors in services.py and test_services.py
  services/device-enroll-svc/app/services.py
  services/device-enroll-svc/tests/test_services.py
Owners: @maintainer

feat(device-policy): kiosk mode + network allowlist
  docs/api/rest/device-policy.yaml
  services/device-policy-svc/Dockerfile
  services/device-policy-svc/app/__init__.py
  services/device-policy-svc/app/config.py
  services/device-policy-svc/app/database.py
  services/device-policy-svc/app/main.py
  services/device-policy-svc/app/models.py
  services/device-policy-svc/app/routes.py
  services/device-policy-svc/app/schemas.py
  services/device-policy-svc/app/services.py
  services/device-policy-svc/pyproject.toml
  services/device-policy-svc/requirements.txt
  services/device-policy-svc/tests/__init__.py
  services/device-policy-svc/tests/conftest.py
  services/device-policy-svc/tests/test_api.py
  services/device-policy-svc/tests/test_services.py
Owners: @tech-writer, @maintainer

docs(device-policy): comprehensive service documentation
  services/device-policy-svc/README.md
Owners: @maintainer

fix(device-policy): resolve linting and compatibility issues
  services/device-policy-svc/app/config.py
  services/device-policy-svc/app/main.py
  services/device-policy-svc/app/routes.py
  services/device-policy-svc/app/schemas.py
Owners: @maintainer

fix(device-policy): configure linting for consistent 100-char line limit
  services/device-policy-svc/.flake8
  services/device-policy-svc/app/routes.py
  services/device-policy-svc/pyproject.toml
Owners: @maintainer

fix(device-policy): finalize linting configuration and resolve warnings
  services/device-policy-svc/.flake8
  services/device-policy-svc/app/services.py
  services/device-policy-svc/pyproject.toml
Owners: @maintainer

fix(device-policy): resolve VS Code flake8 extension E501 warnings
  services/device-policy-svc/.flake8
  services/device-policy-svc/app/routes.py
  services/device-policy-svc/setup.cfg
Owners: @maintainer

fix: resolve all linting issues in Device Policy Service
  services/device-policy-svc/app/database.py
  services/device-policy-svc/app/models.py
  services/device-policy-svc/app/schemas.py
  services/device-policy-svc/app/services.py
  services/device-policy-svc/tests/test_services.py
Owners: @maintainer

feat: Complete Edge Bundler Service (S2A-09) with comprehensive linting fixes
  docs/api/rest/edge-bundler.yaml
  services/edge-bundler-svc/Dockerfile
  services/edge-bundler-svc/README.md
  services/edge-bundler-svc/app/__init__.py
  services/edge-bundler-svc/app/database.py
  services/edge-bundler-svc/app/main.py
  services/edge-bundler-svc/app/models.py
  services/edge-bundler-svc/app/models_backup.py
  services/edge-bundler-svc/app/routes.py
  services/edge-bundler-svc/app/schemas.py
  services/edge-bundler-svc/app/services.py
  services/edge-bundler-svc/requirements.txt
  services/edge-bundler-svc/tests/test_api.py
Owners: @tech-writer, @maintainer

feat: S2A-10 - Implement Device OTA Service & Fix Documentation
  services/device-ota-svc/.env.example
  services/device-ota-svc/Dockerfile
  services/device-ota-svc/README.md
  services/device-ota-svc/app/__init__.py
  services/device-ota-svc/app/config.py
  services/device-ota-svc/app/database.py
  services/device-ota-svc/app/main.py
  services/device-ota-svc/app/models.py
  services/device-ota-svc/app/routes/__init__.py
  services/device-ota-svc/app/routes/firmware.py
  services/device-ota-svc/app/routes/health.py
  services/device-ota-svc/app/routes/heartbeat.py
  services/device-ota-svc/app/schemas.py
  services/device-ota-svc/app/services/__init__.py
  services/device-ota-svc/app/services/firmware_service.py
  services/device-ota-svc/app/services/heartbeat_service.py
  services/device-ota-svc/app/services/update_service.py
  services/device-ota-svc/pyproject.toml
  services/device-ota-svc/requirements.txt
  services/device-ota-svc/tests/__init__.py
  services/device-ota-svc/tests/conftest.py
  services/device-ota-svc/tests/test_health.py
  services/device-policy-svc/README.md
  services/device-policy-svc/tests/test_api_clean.py
  services/edge-bundler-svc/app/models.py
  services/edge-bundler-svc/app/services.py
Owners: @maintainer

feat(mesh): complete internal grpc mesh with mtls+deadlines+retries
  MESH_IMPLEMENTATION_STATUS.md
  docs/infra/grpc-mesh.md
  infra/mesh/README.md
  infra/mesh/docker-compose.yml
  infra/mesh/envoy/bootstrap.yaml
  infra/mesh/envoy/sidecar.yaml
  infra/mesh/grafana/dashboards/grpc-mesh-overview.json
  infra/mesh/grafana/provisioning/dashboards/dashboards.yml
  infra/mesh/grafana/provisioning/datasources/datasources.yml
  infra/mesh/linkerd/linkerd.yaml
  infra/mesh/prometheus/prometheus.yml
  infra/mesh/proto/auth.proto
  infra/mesh/proto/discovery.proto
  infra/mesh/proto/health.proto
  infra/mesh/python/health_service.py
  infra/mesh/python/mesh_client.py
  infra/mesh/scripts/deploy-mesh.py
  infra/mesh/scripts/generate-certs.ps1
  infra/mesh/scripts/generate-certs.sh
  infra/mesh/scripts/test-mesh.py
Owners: @maintainer, @tech-writer

fix(mesh): resolve all linting errors in deploy-mesh.py
  infra/mesh/scripts/deploy-mesh.py
Owners: @maintainer

feat: add graphql gateway and fix mesh configuration issues
  apps/gateway/graphql/.env.example
  apps/gateway/graphql/.eslintrc.js
  apps/gateway/graphql/.prettierrc
  apps/gateway/graphql/package.json
  apps/gateway/graphql/schema/schema.graphql
  apps/gateway/graphql/src/index.ts
  apps/gateway/graphql/src/middleware/auth.ts
  apps/gateway/graphql/src/resolvers/analytics.ts
  apps/gateway/graphql/src/resolvers/dashboard.ts
  apps/gateway/graphql/src/resolvers/iep.ts
  apps/gateway/graphql/src/resolvers/index.ts
  apps/gateway/graphql/src/resolvers/learner.ts
  apps/gateway/graphql/src/resolvers/minimal.ts
  apps/gateway/graphql/src/services/cache.ts
  apps/gateway/graphql/src/services/dataloaders.ts
  apps/gateway/graphql/src/services/http-clients.ts
  apps/gateway/graphql/src/types/index.ts
  apps/gateway/graphql/tsconfig.json
  docs/api/graphql/schema.gql
  docs/infra/grpc-mesh.md
  infra/mesh/envoy/bootstrap.yaml
  infra/mesh/python/mesh_client.py
  infra/mesh/scripts/deploy-mesh.py
  pnpm-lock.yaml
Owners: @maintainer, @tech-writer

feat(chat): parental controls + moderation + audit
  docs/api/rest/chat.yaml
  services/chat-svc/.env.example
  services/chat-svc/Dockerfile
  services/chat-svc/README.md
  services/chat-svc/app/__init__.py
  services/chat-svc/app/audit/__init__.py
  services/chat-svc/app/database.py
  services/chat-svc/app/main.py
  services/chat-svc/app/models.py
  services/chat-svc/app/moderation/__init__.py
  services/chat-svc/app/prompts/ai_coach_prompt.txt
  services/chat-svc/app/prompts/ai_tutor_prompt.txt
  services/chat-svc/app/routes.py
  services/chat-svc/app/schemas.py
  services/chat-svc/pyproject.toml
  services/chat-svc/requirements.txt
  services/chat-svc/tests/__init__.py
  services/chat-svc/tests/test_basic.py
Owners: @tech-writer, @maintainer

feat(evidence): extract+link+hash for auditors
  services/evidence-svc/Dockerfile
  services/evidence-svc/README.md
  services/evidence-svc/app/database.py
  services/evidence-svc/app/extractors/textract.py
  services/evidence-svc/app/extractors/whisper.py
  services/evidence-svc/app/linkage/iep_goals.py
  services/evidence-svc/app/main.py
  services/evidence-svc/app/models.py
  services/evidence-svc/app/processors/audit_chain.py
  services/evidence-svc/app/processors/keywords.py
  services/evidence-svc/app/schemas.py
  services/evidence-svc/docker-compose.yml
  services/evidence-svc/pyproject.toml
  services/evidence-svc/requirements.txt
Owners: @maintainer

feat(media): hls + zoom lti attendance
  docs/api/rest/media.yaml
  services/media-svc/Dockerfile
  services/media-svc/Makefile
  services/media-svc/README.md
  services/media-svc/app/__init__.py
  services/media-svc/app/database.py
  services/media-svc/app/lti/__init__.py
  services/media-svc/app/lti/zoom_integration.py
  services/media-svc/app/main.py
  services/media-svc/app/models.py
  services/media-svc/app/proxy/__init__.py
  services/media-svc/app/proxy/hls_proxy.py
  services/media-svc/app/schemas.py
  services/media-svc/app/workers/__init__.py
  services/media-svc/app/workers/celery_app.py
  services/media-svc/app/workers/transcode.py
  services/media-svc/pyproject.toml
Owners: @tech-writer, @maintainer

feat(roster-sync): oneroster+clever import + status
  services/roster-sync-svc/Makefile
  services/roster-sync-svc/README.md
  services/roster-sync-svc/app/__init__.py
  services/roster-sync-svc/app/connectors/__init__.py
  services/roster-sync-svc/app/connectors/base.py
  services/roster-sync-svc/app/connectors/oneroster.py
  services/roster-sync-svc/app/jobs/__init__.py
  services/roster-sync-svc/app/jobs/processor.py
  services/roster-sync-svc/app/main.py
  services/roster-sync-svc/app/mappings/__init__.py
  services/roster-sync-svc/app/mappings/clever.json
  services/roster-sync-svc/app/mappings/csv.yaml
  services/roster-sync-svc/app/mappings/oneroster.yaml
  services/roster-sync-svc/app/models.py
  services/roster-sync-svc/config/__init__.py
  services/roster-sync-svc/config/settings.py
  services/roster-sync-svc/pyproject.toml
Owners: @maintainer

feat(i18n+a11y): locales + ci accessibility gates
  services/i18n-svc/.github/workflows/axe.yml
  services/i18n-svc/Makefile
  services/i18n-svc/README.md
  services/i18n-svc/app/__init__.py
  services/i18n-svc/app/api/__init__.py
  services/i18n-svc/app/cli/__init__.py
  services/i18n-svc/app/cli/i18n_cli.py
  services/i18n-svc/app/main.py
  services/i18n-svc/app/models/__init__.py
  services/i18n-svc/app/models/models.py
  services/i18n-svc/app/schemas.py
  services/i18n-svc/app/services/__init__.py
  services/i18n-svc/app/services/accessibility_service.py
  services/i18n-svc/app/services/translation_service.py
  services/i18n-svc/config/__init__.py
  services/i18n-svc/pyproject.toml
  services/i18n-svc/tests/__init__.py
Owners: @admin, @maintainer

feat(model-dispatch): subject/grade/region policy
  services/model-dispatch-svc/.editorconfig
  services/model-dispatch-svc/.pre-commit-config.yaml
  services/model-dispatch-svc/README.md
  services/model-dispatch-svc/app/__init__.py
  services/model-dispatch-svc/app/api/__init__.py
  services/model-dispatch-svc/app/main.py
  services/model-dispatch-svc/app/models/__init__.py
  services/model-dispatch-svc/app/services/__init__.py
  services/model-dispatch-svc/app/services/dispatch_service.py
  services/model-dispatch-svc/docs/api/rest/model-dispatch.yaml
  services/model-dispatch-svc/pyproject.toml
Owners: @maintainer

feat(notification): websocket+push + sms fallback for iep reminders
  services/notification-svc/.pre-commit-config.yaml
  services/notification-svc/Makefile
  services/notification-svc/README.md
  services/notification-svc/app/__init__.py
  services/notification-svc/app/config.py
  services/notification-svc/app/email_service.py
  services/notification-svc/app/main.py
  services/notification-svc/app/main_backup.py
  services/notification-svc/app/message_queue.py
  services/notification-svc/app/models.py
  services/notification-svc/app/push_service.py
  services/notification-svc/app/schemas.py
  services/notification-svc/app/template_engine.py
  services/notification-svc/app/template_service.py
  services/notification-svc/dev_server.py
  services/notification-svc/docs/api/rest/notification.yaml
  services/notification-svc/pyproject.toml
  services/notification-svc/run.py
  services/notification-svc/templates/iep_deadline_warning.json
  services/notification-svc/templates/iep_document_ready.json
  services/notification-svc/templates/iep_meeting_reminder.json
  services/notification-svc/tests/conftest.py
  services/notification-svc/tests/test_notifications.py
Owners: @maintainer

feat: implement S2B-11, S2B-12, and S2B-13 microservices
  services/data-mesh-svc/README.md
  services/data-mesh-svc/app/main.py
  services/data-mesh-svc/pyproject.toml
  services/regional-pods-svc/README.md
  services/regional-pods-svc/app/main.py
  services/regional-pods-svc/pyproject.toml
  services/responsible-ai-svc/README.md
  services/responsible-ai-svc/app/main.py
  services/responsible-ai-svc/pyproject.toml
Owners: @maintainer

chore(verify): stage-2b pipeline e2e + rai audit
  scripts/README.md
  scripts/package.json
  scripts/verify-stage2b.ts
Owners: @maintainer

feat(gateway): route stage2/2a/2b services + cors + ws + rbac
  .github/workflows/python-hygiene.yml
  apps/gateway/kong.yml
  docs/telemetry/events.md
  pyproject.toml
  ruff-config-updater.patch
  scripts/ensure_ruff_config.py
Owners: @admin, @maintainer, @tech-writer

fix: resolve all linting errors
  services/evidence-svc/app/main.py
  services/media-svc/app/main.py
  services/regional-pods-svc/app/main.py
Owners: @maintainer

docs: fix markdown linting issues in DOCKER_BUILD_SCAN_GUIDE.md
  DOCKER_BUILD_SCAN_GUIDE.md
Owners: @maintainer

fix: resolve all markdown linting issues in DOCKER_BUILD_SCAN_STATUS.md
  DOCKER_BUILD_SCAN_STATUS.md
Owners: @maintainer

fix: resolve all markdown linting issues in DOCKER_SECURITY_REPORT.md
  DOCKER_SECURITY_REPORT.md
  lint-staged.config.js
Owners: @maintainer

fix: resolve all markdown linting issues in security documentation
  SECURITY_AUDIT_GUIDE.md
  SECURITY_IMPLEMENTATION_SUMMARY.md
Owners: @maintainer

fix: resolve all markdown linting issues in TRUFFLEHOG_GUIDE.md
  TRUFFLEHOG_GUIDE.md
Owners: @maintainer

CODEOWNERS:

# This file defines the code owners for this repository
# When a pull request is opened, the users listed here will be automatically
# requested for review

# Global owners - catch-all for files not covered below
* @maintainer

# Documentation
/docs/ @tech-writer @maintainer

# Security-related files
SECURITY.md @security-team
CODEOWNERS @admin

# CI/CD and infrastructure
/.github/ @devops
.git* @admin

# Note: Add specific team handles as needed
# Example:
# /packages/frontend/ @frontend-team
# /packages/backend/ @backend-team
