Repository artpromedia/aivo, changes with the owners that CODEOWNERS names for each.
All owners: @maintainer, @tech-writer, @security-team, @admin, @devops

CODEOWNERS:

# This file defines the code owners for this repository
# When a pull request is opened, the users listed here will be automatically
# requested for review

# Global owners - catch-all for files not covered below
* @maintainer

# Documentation
/docs/ @tech-writer @maintainer

# Security-related files
SECURITY.md @security-team
CODEOWNERS @admin

# CI/CD and infrastructure
/.github/ @devops
.git* @admin

# Note: Add specific team handles as needed
# Example:
# /packages/frontend/ @frontend-team
# /packages/backend/ @backend-team

fix: resolve all markdown linting issues in TRUFFLEHOG_STATUS.md
  TRUFFLEHOG_STATUS.md
Owners: @maintainer

feat: Implement comprehensive RBAC Matrix & Access Reviews system (S2C-02)
  apps/admin/src/hooks/useRBAC.ts
  apps/admin/src/pages/RBAC/AccessReviews.tsx
  apps/admin/src/pages/RBAC/CustomRoles.tsx
  apps/admin/src/pages/RBAC/Matrix.tsx
  apps/admin/src/services/api.ts
  docs/api/rest/chat.yaml
  services/admin-portal-svc/app/main.py
  services/admin-portal-svc/app/routes_rbac.py
  services/auth-svc/app/models.py
  services/auth-svc/app/rbac.py
  services/auth-svc/app/routes_rbac.py
Owners: @maintainer, @tech-writer

fix: Remove trailing whitespace from YAML files to resolve linting errors
  docs/api/rest/device-enroll.yaml
  docs/api/rest/ela-eval.yaml
  docs/api/rest/event-collector.yaml
  docs/api/rest/slp-sel.yaml
  docs/api/rest/subject-brain.yaml
Owners: @tech-writer, @maintainer

fix: Resolve TypeScript/ESLint warnings in RBAC components
  apps/admin/src/hooks/useRBAC.ts
  apps/admin/src/pages/RBAC/AccessReviews.tsx
  apps/admin/src/pages/RBAC/CustomRoles.tsx
Owners: @maintainer

fix: Resolve unused variable ESLint warnings in useRBAC mock API
  apps/admin/src/hooks/useRBAC.ts
Owners: @maintainer

feat(S2C-03): Implement SSO/SAML and SCIM provisioning services
  apps/admin/src/pages/RBAC/Matrix.tsx
  services/scim-svc/README.md
  services/scim-svc/app/__init__.py
  services/scim-svc/app/config.py
  services/scim-svc/app/main.py
  services/scim-svc/pyproject.toml
  services/sso-svc/README.md
  services/sso-svc/app/__init__.py
  services/sso-svc/app/config.py
  services/sso-svc/app/database.py
  services/sso-svc/app/main.py
  services/sso-svc/app/models/__init__.py
  services/sso-svc/app/models/audit_log.py
  services/sso-svc/app/models/base.py
  services/sso-svc/app/models/identity_provider.py
  services/sso-svc/app/models/role_mapping.py
  services/sso-svc/app/models/tenant.py
  services/sso-svc/app/models/user_session.py
  services/sso-svc/app/routes/__init__.py
  services/sso-svc/app/routes/health.py
  services/sso-svc/app/routes/mappings.py
  services/sso-svc/app/routes/providers.py
  services/sso-svc/app/routes/saml.py
  services/sso-svc/pyproject.toml
Owners: @maintainer

feat(audit): immutable admin activity logs + search/export
  S2C-05-IMPLEMENTATION-STATUS.md
  apps/admin/src/pages/Security/AuditLogs.tsx
  services/audit-log-svc/Dockerfile
  services/audit-log-svc/README.md
  services/audit-log-svc/app/__init__.py
  services/audit-log-svc/app/config.py
  services/audit-log-svc/app/database.py
  services/audit-log-svc/app/models/__init__.py
  services/audit-log-svc/app/models/audit_event.py
  services/audit-log-svc/app/models/base.py
  services/audit-log-svc/app/models/export_job.py
  services/audit-log-svc/app/routes/__init__.py
  services/audit-log-svc/app/routes/audit.py
  services/audit-log-svc/app/routes/export.py
  services/audit-log-svc/app/routes/health.py
  services/audit-log-svc/app/services/audit_service.py
  services/audit-log-svc/app/services/export_service.py
  services/audit-log-svc/main.py
  services/audit-log-svc/pyproject.toml
  services/audit-log-svc/requirements.txt
Owners: @maintainer

feat(audit): immutable admin activity logs + search/export
  S2C-05-FINAL-STATUS.md
  S2C-05-IMPLEMENTATION-STATUS.md
  services/audit-log-svc/app/models/audit_event.py
  services/audit-log-svc/app/routes/audit.py
  services/audit-log-svc/test_s2c05_simple.py
  services/audit-log-svc/validate_s2c05.py
Owners: @maintainer

feat: Complete S2C-06 Incident Center implementation
  S2C-05-FINAL-STATUS.md
  S2C-06-IMPLEMENTATION-COMPLETE.md
  apps/admin/src/App.tsx
  apps/admin/src/components/common/BannerDisplay.tsx
  apps/admin/src/components/layout/Layout.tsx
  apps/admin/src/components/layout/Sidebar.tsx
  apps/admin/src/pages/Operations/Banners.tsx
  apps/admin/src/pages/Operations/Incidents-clean.tsx
  apps/admin/src/pages/Operations/Incidents.tsx
  apps/admin/src/pages/Operations/NotificationSubscriptions.tsx
  services/incident-center-svc/app/config.py
  services/incident-center-svc/app/database.py
  services/incident-center-svc/app/main.py
  services/incident-center-svc/app/models/__init__.py
  services/incident-center-svc/app/routes/__init__.py
  services/incident-center-svc/app/routes/banners.py
  services/incident-center-svc/app/routes/incidents.py
  services/incident-center-svc/app/routes/subscriptions.py
  services/incident-center-svc/app/services/__init__.py
  services/incident-center-svc/app/services/banner_service.py
  services/incident-center-svc/app/services/incident_service.py
  services/incident-center-svc/app/services/notification_service.py
  services/incident-center-svc/requirements.txt
Owners: @maintainer

fix: remove unused interfaces and fix ESLint issues in DataGovernance
  apps/admin/src/pages/Security/DataGovernance.tsx
Owners: @maintainer

feat(moderation): review queue + decisions with audit
  apps/admin/src/App.tsx
  apps/admin/src/components/layout/Sidebar.tsx
  apps/admin/src/pages/Security/DataGovernance.css
  apps/admin/src/pages/Trust/Moderation.css
  apps/admin/src/pages/Trust/Moderation.tsx
  services/data-governance-svc/Dockerfile
  services/data-governance-svc/config.py
  services/data-governance-svc/database.py
  services/data-governance-svc/main.py
  services/data-governance-svc/models/__init__.py
  services/data-governance-svc/requirements.txt
  services/data-governance-svc/routes/dsr_requests.py
  services/data-governance-svc/routes/legal_holds.py
  services/data-governance-svc/routes/retention_policies.py
  services/data-governance-svc/schemas/dsr.py
  services/data-governance-svc/schemas/legal_holds.py
  services/data-governance-svc/schemas/retention.py
  services/data-governance-svc/services/cleanup_service.py
  services/data-governance-svc/services/dsr_service.py
  services/data-governance-svc/services/legal_hold_service.py
  services/data-governance-svc/services/retention_service.py
  services/moderation-svc/Dockerfile
  services/moderation-svc/README.md
  services/moderation-svc/main.py
  services/moderation-svc/models.py
  services/moderation-svc/requirements.txt
  services/moderation-svc/schemas.py
  services/moderation-svc/services/__init__.py
  services/moderation-svc/services/audit_service.py
  services/moderation-svc/services/moderation_service.py
Owners: @maintainer

feat: S2C-09 Fleet Health & Alerts - Complete Implementation
  apps/admin/src/App.tsx
  apps/admin/src/api/fleet.ts
  apps/admin/src/components/layout/Sidebar.tsx
  apps/admin/src/pages/Devices/FleetHealth.test.tsx
  apps/admin/src/pages/Devices/FleetHealth.tsx
  apps/admin/src/pages/Security/AuditLogs.tsx
  apps/admin/src/pages/Security/DataGovernance.tsx
  apps/admin/src/pages/Trust/Moderation.tsx
  services/device-enroll-svc/app/models.py
  services/device-enroll-svc/app/routes.py
  services/device-enroll-svc/app/routes/fleet.py
  services/device-enroll-svc/app/schemas.py
  services/device-enroll-svc/app/services/alert_service.py
  services/device-enroll-svc/app/services/fleet_service.py
  services/device-enroll-svc/app/services/notification_service.py
  services/device-ota-svc/app/main.py
  services/device-ota-svc/app/models.py
  services/device-ota-svc/app/routes/remote_actions.py
  services/device-ota-svc/app/schemas.py
  services/device-ota-svc/app/services/remote_action_service.py
Owners: @maintainer

feat(flags): S2C-10 rollout engine + experiments ui
  apps/admin/src/App.tsx
  apps/admin/src/api/flags.ts
  apps/admin/src/components/layout/Sidebar.tsx
  apps/admin/src/hooks/useFeatureFlags.ts
  apps/admin/src/pages/Experiments/Experiments.tsx
  apps/admin/src/pages/Experiments/Flags.tsx
  apps/admin/src/pages/Experiments/index.tsx
  services/flags-svc/app/__init__.py
  services/flags-svc/app/database.py
  services/flags-svc/app/main.py
  services/flags-svc/app/models.py
  services/flags-svc/app/routes/__init__.py
  services/flags-svc/app/routes/evaluate.py
  services/flags-svc/app/routes/exposures.py
  services/flags-svc/app/routes/flags.py
  services/flags-svc/app/schemas.py
  services/flags-svc/app/services/__init__.py
  services/flags-svc/app/services/analytics_service.py
  services/flags-svc/app/services/evaluation_service.py
  services/flags-svc/app/services/flag_service.py
  services/flags-svc/requirements.txt
Owners: @maintainer

feat: S2C-11 reports + admin app build optimization
  S2C-11-IMPLEMENTATION-COMPLETE.md
  apps/admin/package.json
  apps/admin/src/App.tsx
  apps/admin/src/api/reports.ts
  apps/admin/src/components/ui/dialog.tsx
  apps/admin/src/components/ui/select.tsx
  apps/admin/src/components/ui/textarea.tsx
  apps/admin/src/hooks/useApi.ts
  apps/admin/src/mocks/handlers/subscriptions.ts
  apps/admin/src/pages/Analytics/Reports.tsx
  apps/admin/src/setupTests.ts
  apps/admin/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  services/reports-svc/Dockerfile
  services/reports-svc/README.md
  services/reports-svc/app/__init__.py
  services/reports-svc/app/config.py
  services/reports-svc/app/database.py
  services/reports-svc/app/main.py
  services/reports-svc/app/routes/__init__.py
  services/reports-svc/app/routes/exports.py
  services/reports-svc/app/routes/reports.py
  services/reports-svc/app/routes/schedules.py
  services/reports-svc/app/routes/simple_exports.py
  services/reports-svc/app/routes/simple_reports.py
  services/reports-svc/app/routes/simple_schedules.py
  services/reports-svc/app/schemas.py
  services/reports-svc/app/services/__init__.py
  services/reports-svc/app/services/auth_service.py
  services/reports-svc/app/services/cron_service.py
  services/reports-svc/app/services/export_service.py
  services/reports-svc/app/services/query_service.py
  services/reports-svc/app/services/scheduler.py
  services/reports-svc/app/services/simple_scheduler.py
  services/reports-svc/docker-compose.yml
  services/reports-svc/init_defaults.py
  services/reports-svc/requirements.txt
  services/reports-svc/test_integration.py
Owners: @maintainer

feat: S2C-12 Integrations Hub - Complete implementation
  services/integration-hub-svc/app/config.py
  services/integration-hub-svc/app/database.py
  services/integration-hub-svc/app/main.py
  services/integration-hub-svc/app/models/__init__.py
  services/integration-hub-svc/app/models/api_key.py
  services/integration-hub-svc/app/models/integration.py
  services/integration-hub-svc/app/routes/__init__.py
  services/integration-hub-svc/app/routes/integrations.py
Owners: @maintainer

feat: Implement S2C-13 Secrets & Keys Vault with encryption and admin UI
  apps/admin/src/App.tsx
  apps/admin/src/api/index.ts
  apps/admin/src/api/integrations.ts
  apps/admin/src/components/layout/Sidebar.tsx
  apps/admin/src/pages/Integrations/Hub.tsx
  apps/admin/src/pages/Integrations/Secrets.tsx
  apps/admin/src/pages/Integrations/index.ts
  services/secrets-vault-svc/app/__init__.py
  services/secrets-vault-svc/app/config.py
  services/secrets-vault-svc/app/database.py
  services/secrets-vault-svc/app/main.py
  services/secrets-vault-svc/app/models/__init__.py
  services/secrets-vault-svc/app/models/base.py
  services/secrets-vault-svc/app/models/secret.py
  services/secrets-vault-svc/app/routes/__init__.py
  services/secrets-vault-svc/app/routes/namespaces.py
  services/secrets-vault-svc/app/routes/secrets.py
  services/secrets-vault-svc/app/services/__init__.py
  services/secrets-vault-svc/app/services/encryption.py
  services/secrets-vault-svc/app/services/namespace.py
  services/secrets-vault-svc/app/services/secret.py
  services/secrets-vault-svc/pyproject.toml
  services/secrets-vault-svc/run.py
Owners: @maintainer

fix: Add missing secrets stats endpoint and resolve configuration issues
  services/secrets-vault-svc/app/routes/secrets.py
  services/secrets-vault-svc/app/services/encryption.py
  services/secrets-vault-svc/app/services/secret.py
Owners: @maintainer

feat(api-usage): quotas+throttles view with increase requests
  apps/admin/src/App.tsx
  apps/admin/src/components/layout/Sidebar.tsx
  apps/admin/src/pages/Operations/ApiUsage.tsx
  services/api-usage-svc/app/__init__.py
  services/api-usage-svc/app/database.py
  services/api-usage-svc/app/main.py
  services/api-usage-svc/app/models.py
  services/api-usage-svc/app/routes/__init__.py
  services/api-usage-svc/app/routes/limits.py
  services/api-usage-svc/app/routes/requests.py
  services/api-usage-svc/app/routes/usage.py
  services/api-usage-svc/main.py
  services/api-usage-svc/requirements.txt
  services/api-usage-svc/run.py
Owners: @maintainer

feat(support): tickets + knowledge base + status
  apps/admin/src/App.tsx
  apps/admin/src/components/layout/Sidebar.tsx
  apps/admin/src/pages/Operations/ApiUsage.tsx
  apps/admin/src/pages/Support/KB.tsx
  apps/admin/src/pages/Support/Tickets.tsx
  services/support-svc/app/__init__.py
  services/support-svc/app/database.py
  services/support-svc/app/main.py
  services/support-svc/app/models.py
  services/support-svc/app/routes/__init__.py
  services/support-svc/app/routes/incidents.py
  services/support-svc/app/routes/kb.py
  services/support-svc/app/routes/sla.py
  services/support-svc/app/routes/tickets.py
  services/support-svc/main.py
  services/support-svc/requirements.txt
  services/support-svc/run.py
Owners: @maintainer

feat(admin): global search + saved views
  apps/admin/src/App.tsx
  apps/admin/src/components/common/GlobalSearch.tsx
  apps/admin/src/components/layout/Layout.tsx
  apps/admin/src/components/layout/Sidebar.tsx
  apps/admin/src/components/ui/scroll-area.tsx
  apps/admin/src/components/ui/separator.tsx
  apps/admin/src/hooks/useDebounce.ts
  apps/admin/src/pages/SearchPage.tsx
  services/search-svc/app/models.py
  services/search-svc/app/services/rbac_service.py
  services/search-svc/app/services/search_service.py
Owners: @maintainer

feat: S2C-17 Navigation & CTA Guard Update
  apps/admin/scripts/cta-guard.mjs
  apps/admin/src/App.tsx
  apps/admin/src/components/common/GlobalSearch.tsx
  apps/admin/src/components/layout/Sidebar.tsx
  apps/admin/src/pages/enterprise/APIUsagePage.tsx
  apps/admin/src/pages/enterprise/IdentityPage.tsx
  apps/admin/src/pages/enterprise/RBACPage.tsx
  apps/admin/src/pages/enterprise/SecretsPage.tsx
  apps/admin/tests/e2e/enterprise-navigation.spec.ts
Owners: @maintainer
