Repository artpromedia/aivo, changes with the owners that CODEOWNERS names for each.
All owners: @maintainer, @tech-writer, @security-team, @admin, @devops

feat: add infrastructure and service configurations
  apps/admin/e2e/.eslintrc.js
  apps/gateway/kong-simple.yml
  apps/gateway/kong.yml
  infra/compose/README.md
  infra/compose/infrastructure.yml
  infra/compose/local.yml
  infra/compose/minimal.yml
  scripts/check-npm-deprecations-test.mjs
  scripts/check-npm-deprecations-test2.mjs
  scripts/infrastructure-status.ps1
  scripts/test-deprecated.mjs
  scripts/verify-stage0.ps1
  scripts/verify-stage1.js
  scripts/verify-stage1.ps1
  scripts/verify-stage1.sh
  scripts/verify-stage1.ts
  scripts/verify-working-services.ps1
  services/admin-portal-svc/Dockerfile
  services/approval-svc/Dockerfile
  services/assessment-svc/Dockerfile
  services/enrollment-router-svc/Dockerfile
  services/hello-svc/poetry.lock
  services/iep-svc/Dockerfile
  services/inference-gateway-svc/Dockerfile
  services/learner-svc/Dockerfile
  services/notification-svc/Dockerfile
  services/payment-svc/Dockerfile
  services/private-fm-orchestrator/Dockerfile
  test-deprecated-lock.yaml
  test-pnpm-lock.yaml
Owners: @maintainer

fix: resolve linting errors and security vulnerabilities
  docs/api/rest/lesson-registry.yaml
  services/lesson-registry-svc/.env.example
  services/lesson-registry-svc/Dockerfile
  services/lesson-registry-svc/README.md
  services/lesson-registry-svc/app/__init__.py
  services/lesson-registry-svc/app/auth.py
  services/lesson-registry-svc/app/cdn_service.py
  services/lesson-registry-svc/app/config.py
  services/lesson-registry-svc/app/database.py
  services/lesson-registry-svc/app/lesson_service.py
  services/lesson-registry-svc/app/main.py
  services/lesson-registry-svc/app/models.py
  services/lesson-registry-svc/app/routes.py
  services/lesson-registry-svc/app/schemas.py
  services/lesson-registry-svc/poetry.lock
  services/lesson-registry-svc/pyproject.toml
  services/lesson-registry-svc/pytest.ini
  services/lesson-registry-svc/requirements.txt
  services/lesson-registry-svc/run.py
  services/lesson-registry-svc/tests/conftest.py
  services/lesson-registry-svc/tests/test_api.py
  services/lesson-registry-svc/tests/test_lesson_service.py
Owners: @tech-writer, @maintainer

docs: fix markdown linting issues in README.md
  services/lesson-registry-svc/README.md
Owners: @maintainer

feat: implement coursework ingest service with OCR, topic extraction, and content moderation
  apps/blog/next.config.js
  apps/blog/package.json
  services/coursework-ingest-svc/app/__init__.py
  services/coursework-ingest-svc/app/config.py
  services/coursework-ingest-svc/app/database.py
  services/coursework-ingest-svc/app/models.py
  services/coursework-ingest-svc/app/schemas.py
  services/coursework-ingest-svc/app/services/__init__.py
  services/coursework-ingest-svc/app/services/moderation_service.py
  services/coursework-ingest-svc/app/services/ocr_service.py
  services/coursework-ingest-svc/app/services/pii_service.py
  services/coursework-ingest-svc/app/services/topic_service.py
  services/coursework-ingest-svc/pyproject.toml
Owners: @maintainer

feat: add event-collector-svc with buffer service and clean implementation
  services/event-collector-svc/.env.example
  services/event-collector-svc/Dockerfile
  services/event-collector-svc/README.md
  services/event-collector-svc/app/__init__.py
  services/event-collector-svc/app/config.py
  services/event-collector-svc/app/grpc_server.py
  services/event-collector-svc/app/http_api.py
  services/event-collector-svc/app/main.py
  services/event-collector-svc/app/models.py
  services/event-collector-svc/app/services/__init__.py
  services/event-collector-svc/app/services/buffer_service.py
  services/event-collector-svc/app/services/buffer_service_clean.py
  services/event-collector-svc/app/services/event_processor.py
  services/event-collector-svc/app/services/kafka_service.py
  services/event-collector-svc/check_deps.py
  services/event-collector-svc/fix_long_lines.py
  services/event-collector-svc/fix_long_lines_clean.py
  services/event-collector-svc/line_summary.py
  services/event-collector-svc/protos/__init__.py
  services/event-collector-svc/protos/event_collector.proto
  services/event-collector-svc/protos/event_collector_pb2.py
  services/event-collector-svc/protos/event_collector_pb2_grpc.py
  services/event-collector-svc/pyproject.toml
  services/event-collector-svc/requirements.txt
  services/event-collector-svc/run.py
  services/event-collector-svc/test_dependencies.py
  services/event-collector-svc/test_long_line.py
  services/event-collector-svc/test_service.py
  services/event-collector-svc/tests/conftest.py
  services/event-collector-svc/tests/test_models.py
Owners: @maintainer

feat(event-collector): http+grpc ingest redpanda with dlq
  docs/api/rest/event-collector.yaml
  services/event-collector-svc/.env.example
Owners: @tech-writer, @maintainer

feat(etl): redpandas3snowpipe + core rollups
  docs/analytics/schema.md
  infra/snowflake/models.sql
  infra/snowflake/setup.sql
  services/etl-jobs/.env.example
  services/etl-jobs/Dockerfile
  services/etl-jobs/README.md
  services/etl-jobs/app/__init__.py
  services/etl-jobs/app/config.py
  services/etl-jobs/app/main.py
  services/etl-jobs/app/models.py
  services/etl-jobs/app/services/kafka_consumer.py
  services/etl-jobs/app/services/s3_writer.py
  services/etl-jobs/fixtures/test_minute_metrics.csv
  services/etl-jobs/fixtures/test_raw_events.csv
  services/etl-jobs/pyproject.toml
  services/etl-jobs/tests/test_models.py
Owners: @tech-writer, @maintainer

feat(analytics-svc): metrics api + differential-privacy
  docs/api/rest/analytics.yaml
  services/analytics-svc/Dockerfile
  services/analytics-svc/README.md
  services/analytics-svc/app/__init__.py
  services/analytics-svc/app/config.py
  services/analytics-svc/app/main.py
  services/analytics-svc/app/models.py
  services/analytics-svc/app/privacy.py
  services/analytics-svc/app/snowflake.py
  services/analytics-svc/pyproject.toml
  services/analytics-svc/requirements.txt
  services/analytics-svc/run.py
  services/analytics-svc/tests/__init__.py
  services/analytics-svc/tests/test_main.py
  services/etl-jobs/app/config.py
Owners: @tech-writer, @maintainer

refactor: fix linting errors across ETL and analytics services
  services/analytics-svc/app/main.py
  services/analytics-svc/app/snowflake.py
  services/etl-jobs/app/main.py
  services/etl-jobs/app/models.py
  services/etl-jobs/app/services/kafka_consumer.py
  services/etl-jobs/app/services/s3_writer.py
  services/etl-jobs/tests/test_models.py
Owners: @maintainer

fix: update pnpm version constraint to support pnpm 10.x
  docs/api/rest/analytics.yaml
  infra/snowflake/snowpipe_setup.sql
  infra/snowflake/validation.sql
  package.json
  services/analytics-svc/Dockerfile
  services/analytics-svc/README.md
  services/analytics-svc/app/__init__.py
  services/analytics-svc/app/config.py
  services/analytics-svc/app/main.py
  services/analytics-svc/app/models.py
  services/analytics-svc/app/privacy.py
  services/analytics-svc/app/snowflake.py
  services/analytics-svc/pyproject.toml
  services/analytics-svc/requirements.txt
  services/analytics-svc/run.py
  services/analytics-svc/tests/__init__.py
  services/analytics-svc/tests/test_main.py
  services/etl-jobs/app/api.py
  services/etl-jobs/app/main.py
  services/etl-jobs/app/services/etl_scheduler.py
  services/etl-jobs/app/services/snowflake_etl.py
  services/etl-jobs/fixtures/test_mastery_deltas.csv
  services/etl-jobs/fixtures/test_session_metrics.csv
Owners: @tech-writer, @maintainer

feat(search-svc): add comprehensive enterprise search service with linting fixes
  services/search-svc/Dockerfile
  services/search-svc/README.md
  services/search-svc/app/__init__.py
  services/search-svc/app/config.py
  services/search-svc/app/main.py
  services/search-svc/app/models.py
  services/search-svc/app/services/__init__.py
  services/search-svc/app/services/opensearch_service.py
  services/search-svc/app/services/pii_masking_service.py
  services/search-svc/app/services/rbac_service.py
  services/search-svc/app/services/search_service.py
  services/search-svc/requirements.txt
  services/search-svc/tests/__init__.py
  services/search-svc/tests/test_models.py
Owners: @maintainer

feat(subject-brain): planner + k8s per-learner-subject runtime (gpu autoscale)
  docs/api/rest/subject-brain.yaml
  services/subject-brain-svc/Dockerfile
  services/subject-brain-svc/README.md
  services/subject-brain-svc/app/__init__.py
  services/subject-brain-svc/app/config.py
  services/subject-brain-svc/app/main.py
  services/subject-brain-svc/app/models.py
  services/subject-brain-svc/app/services/__init__.py
  services/subject-brain-svc/app/services/planner_service.py
  services/subject-brain-svc/app/services/runtime_manager.py
  services/subject-brain-svc/k8s/deployment.yaml
  services/subject-brain-svc/k8s/hpa.yaml
  services/subject-brain-svc/k8s/namespace.yaml
  services/subject-brain-svc/requirements.txt
  services/subject-brain-svc/tests/__init__.py
Owners: @tech-writer, @maintainer

fix(subject-brain): resolve pylint errors and method calls
  services/subject-brain-svc/app/services/runtime_manager.py
Owners: @maintainer

fix(subject-brain): remove unnecessary pylint disables after installing kubernetes
  services/subject-brain-svc/app/services/runtime_manager.py
Owners: @maintainer

fix(subject-brain): resolve remaining warnings in core files
  services/subject-brain-svc/app/__init__.py
  services/subject-brain-svc/app/main.py
Owners: @maintainer

fix(subject-brain): remove trailing whitespace from models and runtime_manager
  services/subject-brain-svc/app/models.py
  services/subject-brain-svc/app/services/runtime_manager.py
Owners: @maintainer

feat: implement Game Generation Service with declarative manifests and A11y
  services/game-gen-svc/Dockerfile
  services/game-gen-svc/README.md
  services/game-gen-svc/app/__init__.py
  services/game-gen-svc/app/config.py
  services/game-gen-svc/app/main.py
  services/game-gen-svc/app/models.py
  services/game-gen-svc/app/services/__init__.py
  services/game-gen-svc/app/services/cache.py
  services/game-gen-svc/app/services/generator.py
  services/game-gen-svc/pyproject.toml
  services/game-gen-svc/requirements.txt
  services/game-gen-svc/tests/conftest.py
  services/game-gen-svc/tests/test_api.py
Owners: @maintainer

feat: implement Model Dispatch Policy service (#S2-09)
  services/model-dispatch-svc/.env.example
  services/model-dispatch-svc/Dockerfile
  services/model-dispatch-svc/README.md
  services/model-dispatch-svc/app/__init__.py
  services/model-dispatch-svc/app/config.py
  services/model-dispatch-svc/app/main.py
  services/model-dispatch-svc/app/models.py
  services/model-dispatch-svc/app/services/__init__.py
  services/model-dispatch-svc/app/services/cache_service.py
  services/model-dispatch-svc/app/services/policy_engine.py
  services/model-dispatch-svc/pyproject.toml
  services/model-dispatch-svc/requirements.txt
  services/model-dispatch-svc/tests/__init__.py
  services/model-dispatch-svc/tests/conftest.py
  services/model-dispatch-svc/tests/test_main.py
  services/model-dispatch-svc/tests/test_policy_engine.py
Owners: @maintainer

feat(notification): complete websocket+push+sms notification service
  docs/api/rest/notification.yaml
  docs/api/rest/search.yaml
  pyproject.toml
  services/game-gen-svc/.pylintrc
  services/game-gen-svc/app/config.py
  services/game-gen-svc/app/main.py
  services/game-gen-svc/app/models.py
  services/game-gen-svc/app/services/cache.py
  services/game-gen-svc/app/services/generator.py
  services/game-gen-svc/pyproject.toml
  services/game-gen-svc/tests/__init__.py
  services/game-gen-svc/tests/conftest.py
  services/game-gen-svc/tests/test_api.py
  services/notification-svc/.editorconfig
  services/notification-svc/.env.example
  services/notification-svc/Dockerfile
  services/notification-svc/Makefile
  services/notification-svc/README.md
  services/notification-svc/app/config.py
  services/notification-svc/app/email_service.py
  services/notification-svc/app/main.py
  services/notification-svc/app/message_queue.py
  services/notification-svc/app/models.py
  services/notification-svc/app/push_service.py
  services/notification-svc/app/schemas.py
  services/notification-svc/app/sms_service.py
  services/notification-svc/app/template_engine.py
  services/notification-svc/app/template_service.py
  services/notification-svc/client-sdk.ts
  services/notification-svc/dev_server.py
  services/notification-svc/pyproject.toml
  services/notification-svc/requirements-simple.txt
  services/notification-svc/requirements.txt
  services/notification-svc/run.py
  services/notification-svc/tests/conftest.py
  services/notification-svc/tests/test_notifications.py
  services/subject-brain-svc/Dockerfile
  services/subject-brain-svc/app/services/planner_service.py
Owners: @tech-writer, @maintainer

fix: resolve all linting warnings across notification and game-gen services
  services/game-gen-svc/tests/conftest.py
  services/notification-svc/app/config.py
  services/notification-svc/app/config_new.py
  services/notification-svc/app/email_service.py
  services/notification-svc/app/main.py
  services/notification-svc/app/main_new.py
  services/notification-svc/app/message_queue.py
  services/notification-svc/app/push_service.py
  services/notification-svc/app/sms_service.py
  services/notification-svc/app/template_engine.py
  services/notification-svc/app/template_service.py
  services/notification-svc/requirements_new.txt
  services/notification-svc/run.py
  services/notification-svc/tests/conftest.py
Owners: @maintainer

fix: resolve Docker warnings by fixing AS keyword casing and add Dockerfile update script
  scripts/update-dockerfiles.ps1
  services/etl-jobs/Dockerfile
Owners: @maintainer

docs: fix markdownlint line length violations
  .markdownlintignore
  README.md
  SECURITY.md
  docs/api/README.md
  services/auth-svc/README.md
  services/tenant-svc/README.md
Owners: @maintainer, @security-team, @tech-writer

feat(pact): comprehensive contract testing + msw mocks
  .github/workflows/pact.yml
  apps/admin/e2e/admin-dashboard.spec.ts
  apps/admin/package.json
  apps/admin/playwright-report/index.html
  apps/admin/public/mockServiceWorker.js
  apps/admin/src/main.tsx
  apps/admin/src/mocks/browser.ts
  apps/admin/src/mocks/handlers.ts
  apps/admin/src/mocks/handlers/admin-portal.ts
  apps/admin/src/mocks/handlers/auth.ts
  apps/admin/src/mocks/handlers/tenant.ts
  apps/admin/src/mocks/server.ts
  package.json
  pact/consumers/admin-portal.test.ts
  pact/contracts/admin-app-admin-portal-svc.json
  pact/jest.config.js
  pact/package.json
  pact/providers/admin-portal-svc.test.ts
  pact/setup.ts
  pact/tsconfig.json
  pact/verify_provider.py
  pnpm-lock.yaml
Owners: @admin, @maintainer

fix: resolve TypeScript and GitHub Actions config issues
  .github/workflows/pact.yml
  pact/tsconfig.json
  services/notification-svc/nodejs-email-template/tsconfig.json
Owners: @admin, @maintainer

fix: resolve Python and markdown linting issues
  .markdownlintignore
  pact/verify_provider.py
  pyproject.toml
Owners: @maintainer

fix: resolve linting and configuration errors
  .github/workflows/pact.yml
  .markdownlintignore
  apps/admin/e2e/admin-dashboard.spec.ts
  apps/admin/src/mocks/handlers/admin-portal.ts
  pyproject.toml
  services/notification-svc/nodejs-email-template/tsconfig.json
Owners: @admin, @maintainer

fix: resolve linting errors across multiple services
  docs/api/rest/ink.yaml
  libs/sdk-py/aivo_sdk/services/tenant/aivo_sdk/exceptions.py
  services/admin-portal-svc/app/http_client.py
  services/admin-portal-svc/app/main.py
  services/approval-svc/app/api.py
  services/approval-svc/app/schemas.py
  services/auth-svc/app/main.py
  services/auth-svc/app/models.py
  services/auth-svc/migrations/env.py
  services/event-collector-svc/check_deps.py
  services/ink-svc/.env.example
  services/ink-svc/Dockerfile
  services/ink-svc/README.md
  services/ink-svc/app/__init__.py
  services/ink-svc/app/config.py
  services/ink-svc/app/database.py
  services/ink-svc/app/main.py
  services/ink-svc/app/models.py
  services/ink-svc/app/schemas.py
  services/ink-svc/app/services.py
  services/ink-svc/pyproject.toml
  services/ink-svc/tests/conftest.py
  services/ink-svc/tests/test_api.py
  services/ink-svc/tests/test_services.py
Owners: @tech-writer, @maintainer

fix: resolve markdownlint errors and update services
  services/event-collector-svc/app/services/event_processor.py
  services/event-collector-svc/test_dependencies.py
  services/event-collector-svc/test_long_line.py
  services/ink-svc/README.md
  services/ink-svc/app/database.py
  services/ink-svc/app/main.py
  services/ink-svc/app/models.py
  services/ink-svc/app/schemas.py
  services/ink-svc/app/services.py
  services/ink-svc/tests/conftest.py
  services/ink-svc/tests/test_api.py
  services/ink-svc/tests/test_services.py
  services/learner-svc/app/main.py
  services/private-fm-orchestrator/tests/conftest.py
  services/search-svc/app/services/search_service.py
Owners: @maintainer

feat: add math-recognizer-svc with comprehensive linting fixes
  services/math-recognizer-svc/.pylintrc
  services/math-recognizer-svc/Dockerfile
  services/math-recognizer-svc/README.md
  services/math-recognizer-svc/app/__init__.py
  services/math-recognizer-svc/app/cas_service.py
  services/math-recognizer-svc/app/config.py
  services/math-recognizer-svc/app/main.py
  services/math-recognizer-svc/app/recognition_service.py
  services/math-recognizer-svc/app/schemas.py
  services/math-recognizer-svc/poetry.lock
  services/math-recognizer-svc/pyproject.toml
  services/math-recognizer-svc/tests/__init__.py
  services/math-recognizer-svc/tests/test_main.py
Owners: @maintainer

feat: Add Science Solver Service with dependency verification
  services/science-solver-svc/Dockerfile
  services/science-solver-svc/IMPLEMENTATION_SUMMARY.md
  services/science-solver-svc/README.md
  services/science-solver-svc/app/__init__.py
  services/science-solver-svc/app/config.py
  services/science-solver-svc/app/main.py
  services/science-solver-svc/app/schemas.py
  services/science-solver-svc/poetry.lock
  services/science-solver-svc/pyproject.toml
  services/science-solver-svc/start.py
  services/science-solver-svc/tests/__init__.py
  services/science-solver-svc/tests/conftest.py
  services/science-solver-svc/tests/test_main.py
  services/science-solver-svc/verify_dependencies.py
Owners: @maintainer

fix: resolve linting warnings across multiple services
  libs/sdk-py/aivo_sdk/services/tenant/aivo_sdk/exceptions.py
  services/admin-portal-svc/app/http_client.py
  services/approval-svc/app/schemas.py
  services/auth-svc/app/models.py
  services/event-collector-svc/test_dependencies.py
  services/ink-svc/app/config.py
  services/ink-svc/app/models.py
  services/ink-svc/app/schemas.py
  services/ink-svc/app/services.py
  services/math-recognizer-svc/app/main.py
  services/math-recognizer-svc/app/recognition_service.py
  services/math-recognizer-svc/pyproject.toml
  services/math-recognizer-svc/tests/test_main.py
  services/science-solver-svc/app/main.py
  services/science-solver-svc/pyproject.toml
  services/science-solver-svc/tests/test_main.py
  services/science-solver-svc/verify_dependencies_new.py
  services/search-svc/app/services/search_service.py
Owners: @maintainer

feat(ela-eval): rubric scoring + safety
  docs/api/rest/ela-eval.yaml
  services/ela-eval-svc/Dockerfile
  services/ela-eval-svc/README.md
  services/ela-eval-svc/app/__init__.py
  services/ela-eval-svc/app/config.py
  services/ela-eval-svc/app/evaluator_service.py
  services/ela-eval-svc/app/main.py
  services/ela-eval-svc/app/schemas.py
  services/ela-eval-svc/pyproject.toml
  services/ela-eval-svc/tests/__init__.py
  services/ela-eval-svc/tests/test_main.py
Owners: @tech-writer, @maintainer

fix(ela-eval): resolve linting warnings
  services/ela-eval-svc/app/evaluator_service.py
  services/ela-eval-svc/app/main.py
  services/ela-eval-svc/tests/test_main.py
Owners: @maintainer

fix(science-solver): resolve linting warnings
  services/science-solver-svc/tests/conftest.py
  services/science-solver-svc/verify_dependencies.py
Owners: @maintainer

fix(science-solver): improve exception handling style
  services/science-solver-svc/verify_dependencies.py
Owners: @maintainer

fix: Resolve all linting errors in SLP/SEL main.py
  services/slp-sel-svc/app/__init__.py
  services/slp-sel-svc/app/config.py
  services/slp-sel-svc/app/main.py
  services/slp-sel-svc/app/schemas.py
  services/slp-sel-svc/app/services.py
Owners: @maintainer

fix: Resolve all major linting errors in SLP/SEL services.py
  services/slp-sel-svc/app/services.py
Owners: @maintainer

feat: Add optional dependency handling and suppress remaining warnings
  services/slp-sel-svc/app/services.py
Owners: @maintainer

fix: Suppress all TODO warnings in SLP/SEL main.py
  services/slp-sel-svc/app/main.py
Owners: @maintainer

fix: Correct ordered list numbering in SLP/SEL README.md
  services/slp-sel-svc/README.md
Owners: @maintainer

CODEOWNERS:

# This file defines the code owners for this repository
# When a pull request is opened, the users listed here will be automatically
# requested for review

# Global owners - catch-all for files not covered below
* @maintainer

# Documentation
/docs/ @tech-writer @maintainer

# Security-related files
SECURITY.md @security-team
CODEOWNERS @admin

# CI/CD and infrastructure
/.github/ @devops
.git* @admin

# Note: Add specific team handles as needed
# Example:
# /packages/frontend/ @frontend-team
# /packages/backend/ @backend-team
